{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmark Application</title>
        {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>



    <div class="jumbotron">
       <h1 style="text-align: center;">Bookmark Application</h1>
      <p><a class="btn btn-primary btn-block" href="{% url 'login' %}" role="button" style="display: inline-block;" >Login</a></p>
        <p><a class="btn btn-danger btn-block" href="{% url 'register' %}" role="button" style="display: inline-block;">Register</a></p>
    </div>



</body>
</html>