{% extends 'urly_bird/urly_bird_base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h2>Login Here</h2>
    <form method="post" action="{%  url 'login' %}">
        {%  csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
{% endblock %}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{#    <h2>Login Here</h2>#}
{#    <form method="post" action="{%  url 'login' %}">#}
{#        {%  csrf_token %}#}
{#        <input type="hidden" name="next" value="{{ next }}">#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Login">#}
{#    </form>#}
{#</body>#}
{#</html>#}
{##}
{#{% extends 'urly_bird/urly_bird_base.html' %}#}
{#{% load bootstrap3 %}#}
{##}
{#{% block content %}#}
{#    <h2>Top Bookmarks</h2>#}
{#    <ul>#}
{#        {% for bookmark in bookmark_list %}#}
{#        <li><a href="{% url 'bookmark_detail' bookmark.id %}">{{ bookmark.title }} </a></li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endblock %}#}

